<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= form.label :Item %>
   <%= form.select :item_id, options_from_collection_for_select(current_member.club.items, "id", "name") %>
  </div>
  
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
  



 

  

  

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
