<div class="card-body overflow-auto">
  <%= form_with(model: item) do |f| %>

    <div class="mb-3">
      <div><%= f.label :name, class: "col-form-label" %></div>
      <div><%= f.text_field :name, class: "form-control" %></div>
    </div>

    <div class="mb-3">
      <div><%= f.label :units, class: "col-form-label" %></div>
      <div><%= f.number_field :units, class: "form-control" %></div>
    </div>

    <%= f.submit "Submit", class: "mt-3 col-lg-12 btn btn-success p-2" %>
  <% end %>
</div>