<p id="notice"><%= notice %></p>

<div class="main-card mb-3 card mt-4 card-hover-shadow">
  <div class="card-header">
    <div class="card-header-title">
      <i class="fa fa-list mr-2"></i>
      Club Inventory Items
    </div>
  </div>

  <div class="card-body overflow-auto">
    <div id="table_content">
      <table id="items" class="table text-center table-striped table-bordered">
        <thead>
        <tr>
          <th> No. </th>
          <th> Item Name </th>
          <th> Quantity </th>
          <th> Club </th>
          <th> Action </th>
        </tr>
        </thead>

        <tbody>
        <% @items.each_with_index do |item, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item.name %></td>
            <td><%= item.units %></td>
            <td><%= item.club.name %></td>
            <td>
              <%= link_to 'Order History'.html_safe, '/items/'+item.id.to_s+'/orders', class: "btn btn-primary" %>
              <%if current_member.position.id==1%>
                <%= link_to 'Edit Item'.html_safe, url_for(controller: "items", action: "destroy", id: item.id), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-secondary" %>
                <%= link_to 'Edit Item'.html_safe, edit_item_path(item), class: "btn btn-secondary" %>
              <%end%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $("#items").DataTable({
            autoWidth: true,
            dom: "ftp",
            "oLanguage": {
                "sSearch": "<b> Search by Item Name : </b>",
                "sEmptyTable": "There is nothing to show here.",
                pageLength: 10
            }
        });
    });
</script>

