<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div class="card-body overflow-auto">
    <div id="table_content">
      <table id="items" class="table text-center table-striped table-bordered">
        <thead>
        <tr>
          <th> No. </th>
          <th> Item Name </th>
          <th> Quantity </th>
          <th> Club </th>
          <th> Action </th>
        </tr>
        </thead>

        <tbody>
        <% @items.each_with_index do |item, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item.name %></td>
            <td><%= item.units %></td>
            <td><%= item.club.name %></td>
            <td>
               <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>Order'.html_safe, new_order_path, class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<br>

